html {
  background: lightgrey;
}

body {
  margin: 200px 0px;
  height: 100%;
  width: 100%;
}

#menu ul li{
  display: inline;
}

.dropdown-menu{
  display: none;
}

.fullweek {
  width: 100%;
  font-size: 14pt;
}

.day{
  float:left;
  height: 200px;
  width: 175px;
  padding: 5px;
  overflow: scroll;
}

.event{
  padding: 5px;
}