html {
  background: lightgrey;
}

body {
  margin: 200px 0px;
  height: 100%;
  width: 100%;
}

#menu ul li{
  display: inline;
}

.dropdown-menu{
  display: none;
}

.fullweek {
  width: 960px;
}

.day{
  float:left;
  min-height: 100px;
  width: 100px;
  padding: 5px;
}