/* navbar */

header {
  top: 0px;
}

footer {
  bottom: 0px;
  text-align: center;
}

header, footer {
  background: rgb(73, 73, 73);
  opacity: .9;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 15px 0px;
  font-size: 1.5em;
  left: 0px;
}

.active {
  color: black;
}

.icon {
  position: absolute;
  right: 5px;
  top: 8px;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

.hover-white:hover{
  color: white;
}

.uppercase{
  text-transform: uppercase;
}

.button {
  width: 220px;
  height: 40px;
  background: rgb(54, 54, 54);
  color: white;
  border-radius: 5px;
  font-size: 12px;
}

.button:hover {
  background: rgb(45, 152, 194);
  color: white;
}

.large-text {
  font-size: 30px;
  margin-top: 50px;
}

.large-text:hover {
  color:rgb(45, 152, 194);
}
