<form action="/submit" method="post" id="submit">
    <input type="datetime-local" name="date">
    <input type="text" name="location" value="" placeholder="eg: Lynwood WA">
    <p><button type="submit">Get weather for this location on the date you chose</button>
  </form>