<%- include('../layout/head') %>
<header>
        <nav>
          <a href="/" class="active uppercase hover-white">DarkSky-Playin</a>
          <div id="menu">
            <ul>
              <li><i class="far fa-compass icon hover-white"></i></li>
            </ul>
          </div>
        </nav>
      </header>
<body> 
    <!-- left opening body tag in here in case I need to put an id for background photos to specific pages, closing body tag still in the footer partial -->
<div id="log-in-div">
  <p class="uppercase large-text"><u>Log In</u></p>
  <form action="/mainview" method="post" id="submit">
      <input type="text" name="userName" placeholder="username">
      <input type="hidden" name="startingday" value="<%  %>">
      <button type="submit" class="button">Let's Go</button>
    </form>
</div>

  <%- include('../layout/footer') %>
