<header>
  <nav>
    <a href="/" class="active uppercase hover-white">DarkSky-Playin</a>
    <div class="dropdown">
        <i onclick="myFunction()" class="far fa-compass dropbtn icon hover-white"></i>
        <div id="myDropdown" class="dropdown-content">
            <form id="first-dropdown" action="/mainview" method="post" class="addEventForm dropdown-items">
              <input type="hidden" name="userName" value="<%- mainviewObj.userName %>">
              <button type="submit" class="uppercase" class="hover-white">Dashboard</button>
            </form>
            <form id="second-dropdown" action="/addEvent" method="post" class="addEventForm dropdown-items">
              <input type="hidden" name="userName" value="<%- mainviewObj.userName %>">
              <button type="submit" class="uppercase" class="hover-white">Add a new Event</button>
            </form>
        </div>
      </div>
  </nav>
</header>
