<!DOCTYPE html>
<html>

<head>
  <title>App Name Here</title>
  <link href="/css/reset.css" rel="stylesheet">
  <link href="/css/base.css" rel="stylesheet">
  <link href="/css/layout.css" rel="stylesheet">
  <link href="/css/modules.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW +Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
    crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/e81c8bbf90.js"></script>
</head>
