<header>
  <nav>
    <a href="/" class="active">App Name Here</a>
    <div>
      <i class="far fa-compass icon"></i>
      <div class="pages">
        <!-- Can rename these later based on desired links -->
        <a href="/">Home</a>
        <a href="/addEvent">AddEvent</a>
        <a href="/submit">renderWeather</a>
        <a href="/mainview">mainView</a>
      </div>
    </div>
  </nav>
</header>