<header>
  <nav>
    <a href="/" class="active">App Name Here</a>
    <div id="menu">
      <ul>
        <li><i class="far fa-compass icon"></i></li>
          <ul class="dropdown">
            <li><a href="/">Home</a></li>
            <li><form action="/mainview" method="post" id="addEventForm">
              <input type="hidden" name="userName" value="<%- mainviewObj.userName %>">
              <button type="submit">Dashboard</button>
            </form></li>
            <li><form action="/addEvent" method="post" id="addEventForm">
              <input type="hidden" name="userName" value="<%- mainviewObj.userName %>">
              <button type="submit">Add a new Event</button>
            </form></li>
          </ul>
      </ul>
    </div>
  </nav>
</header>
