<header>
  <nav>
    <a href="/" class="active" class="uppercase" class="hover-white">DarkSky-Playin</a>
    <div id="menu">
      <ul>
        <li><i class="far fa-compass icon hover-white"></i></li>
          <ul class="dropdown">
            <li><form action="/mainview" method="post" id="addEventForm">
              <input type="hidden" name="userName" value="<%- mainviewObj.userName %>">
              <button type="submit" class="uppercase" class="hover-white">Dashboard</button>
            </form></li>
            <li><form action="/addEvent" method="post" id="addEventForm">
              <input type="hidden" name="userName" value="<%- mainviewObj.userName %>">
              <button type="submit" class="uppercase" class="hover-white">Add a new Event</button>
            </form></li>
          </ul>
      </ul>
    </div>
  </nav>
</header>
